#details{
    display:grid;
    grid-template-columns: 1fr;
    gap:1rem;
}

#map, #map div{
    width:100%;
    height:100%;
}

iframe{
    width:100%;
    height:100%;
}

ul{
    list-style:none;
    padding:1rem;
}

li::before{
    content:'✓';
    padding-right: 0.5rem;
}

#info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

label, #info p{
    text-align: center;
}

@media screen and (min-width: 500px){
    
    #details{
        grid-template-columns: 1fr 1fr;
    }

}
