@media screen and (min-width: 500px){
    
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    
    nav{
        display:flex;
        flex-direction:row;
    }

    #menu{
        display:none;
    }
}