@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


:root{
    --primary-color:hsl(207, 44%, 20%);;
    --secondary-color:hsl(214, 41%, 90%);
    --accent1-color:#ffdca0;
    --accent2-color:hsl(207, 44%, 10%);
    --heading-font:Merriweather, serif;
    --paragraph-font:Quicksand, sans-serif;
    --nav-background-color:hsl(207, 44%, 15%);;
    --nav-link-color: #eeeeee;
    --nav-hover-link-color:white;
    --nav-hover-background-color:hsl(207,44%,25%);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

body{
    background-color: var(--secondary-color);
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font);
    padding:1rem;
    text-align:center;
}



header, footer{
    background-color: var(--primary-color);
    color:var(--accent1-color);
    text-align:center;
}

footer{
    padding:1rem;
}

#menu{
    background-color: var(--nav-background-color);
}

#menu::before{
    content:"≡";
}

#menu.open::before{
    content:"X";
}

nav{
    display:none;
    background-color:var(--nav-background-color);
    justify-content:space-around;
}

nav.open{
    display:flex;
    flex-direction:column;
}

nav a, #menu{
    display:block;
    padding:0.5rem;
    color:var(--nav-link-color);
    text-decoration: none;
    font-size:1.2rem;
}

nav a:hover, #menu:hover{
    background-color: var(--nav-hover-background-color);
}

main{
    max-width:800px;
    margin: auto;
    padding:2rem;
    color:var(--accent2-color);
}

.gallery{
    display:grid;
    grid-template-columns: 1fr;
    gap:1rem;
    justify-items:center;
}

figure img{
    width:200px;
}